* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// $primary: pink; --> custom colors

// COLOR PALLETE:
// dark jungle green: 1C2321
// cultured: EEF1EF
// blue NCS: 1D84B5
// liver dogs: BF6900
// jungle green: 43AA8B

@import "~bootstrap/scss/bootstrap.scss";
@import "../../components/movieCard/movieCard.scss";